* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0%;
    z-index: 0;
}

.navbar{
    background-image: linear-gradient(to right,#a517ba, #5f1782);
    padding: 0% !important;
}

.navbar-brand img{
    height: 40px;
    padding-left:20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/*---- banner section-----*/
#banner{
    background-image: linear-gradient(to right,#a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.start{
   margin-left:220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%,10%);
    width: 900px;
    background: #fff;
    display: flex;
}

.start .image{
   width: 700px;
   
}
.start .image img{
    max-width: 100%;
}
.start .dummy_text{
    width: 750px;
    padding-left: 20px;
}
.start .dummy_text h2{
    margin-top: 50px;
    margin: 0;
    padding-left: 0;
    font-size: 20px;
}
.start .dummy_text p{
    margin: 0
    padding-left: 30px 0 0;
    text-align: justify;
}










